[user]
	name = Sayanee
	email = sayanee@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
	added = yellow
  changed = green
  untracked = cyan
[core]
	excludesfile = /Users/sayanee/.gitignore
[credential]
  helper = osxkeychain
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[help]
  autocorrect = 10
