"*":
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: []
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: []
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "custom-title":
    template: "<%= fileName %><% if (projectPath) { %> - <%= projectPath %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 24
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "23726a94-4d58-6922-8de3-2676f1bd97ca"
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  "release-notes":
    viewedVersion: "0.94.0"
  "tree-view":
    squashDirectoryNames: true
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
".css.source.stylus":
  editor:
    preferredLineLength: 120
