"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 22
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    userId: "c0f59876-8ce3-42c6-824c-22e0f8fe3238"
  welcome:
    showOnStartup: false
".css.source.stylus":
  editor:
    preferredLineLength: 120
